# Configurações Específicas do App Mobile (Expo / React Native)
EXPO_PUBLIC_API_URL=http://localhost:5000/api/v1
EXPO_PUBLIC_APP_NAME="AntGravity Studio"
EXPO_PUBLIC_ENV=development

# Chaves Públicas para o App Mobile
EXPO_PUBLIC_ANTGRAVITY_KEY=ag_pub_sua_chave_publica_mobile
